*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}

body {
    font-size: 1vw;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -0.022em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: var(--sk-body-background-color, rgb(255, 255, 255));
    color: var(--sk-body-text-color, rgb(29, 29, 31));
    font-style: normal;
}

ion-icon {
    color: black;
}
.menu{
    height: 5000px;
}

#menu{
    display: flex;
    overflow-x:auto;
    overflow-y: hidden;
    white-space: nowrap;
    list-style: none;
    padding-bottom: 2vh;
    padding-top:5vh;
    padding-left: 5vw;
}
#menu>li{
    margin-right: 5vw;
}


#menunav{
background: #fafafc;
padding: 2vh 0;
text-align: center;
height: 16vh;
width: 100%;
overflow: hidden;
position: relative;

}

.menu2{
    position: relative;
    width: 100%;
    z-index: 1;
}
.menu-items{
   overflow-x:auto;
   overflow-y: hidden;
    white-space: nowrap;
    list-style: none;
    display: flex;
    padding-bottom: 5vh; 
}
.menu2>ul{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 4vw;
    unicode-bidi: isolate;
}
.menu-item{
    width: 25vw;
    margin-inline-start: 0;
    padding-inline-start: 0.4vw;
    display: inline-block;
    vertical-align: top;
    padding: 0 2vw;
}
.menunav-icon{
    margin-bottom: 0.4vh;
    display: block;
    margin: 0 auto 0.6vh;
    height: 5vh;
}
.menunav-label{
    font-size: 1.2vw;
    line-height: 1.3;
    font-weight: 400;
    letter-spacing: -0.12px;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    display: block;
    margin: 0;
}
.menunav-new{
    font-size: 1vw;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: -0.08px;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #b64400;
    text-align: center;
    display: block;
}


.main-content{
    margin-inline-start: auto;
    margin-inline-end: auto;
    width: 87.5vw;
    max-width: 1680px;
    padding-top: 3vh;
}
.main-header{
    display: flex;
    justify-content: space-between;
    grid-gap: 28px;
    gap: 28px;
    padding-bottom: 80px;
}
.main-header-headline{
    font-size: 80px;
    line-height: 1.05;
    font-weight: 600;
    letter-spacing: -0.015em;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.main-header-copy{
    font-size: 28px;
    line-height: 1.1428571429;
    font-weight: 600;
    letter-spacing: .007em;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.video-wall-container{
    height: 80vh;
    min-height: 680px;
    max-width: 1920px;
    max-height: 1260px;
    margin: 0 auto;
    width: 87.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.video-srcim{
    position: absolute;
    height: 100%;
    width: 100%;
    transition: opacity 100ms linear;
    pointer-events: none;
}
.video-wall-content-container{
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 28px;
    position: relative;
}
.video-controls-container{
    position: absolute;
    bottom: 1vh;
    right: 9vw;
    height: calc(100% - 40px);
    display: flex;
    align-items: flex-end;
    position: relative;
}
.video-wal-container {
    position: relative;
}
#myBtn {
    position: absolute;
    right: 50%;
    bottom: 3vh;
    font-size: 1.2em;
    background: #e8e8ed;
    color: #000000;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}